@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gray: #E7E7EA;
    --blue: #005CFF;
    --purple: #6220C1;
    --font-nunito: "Nunito", sans-serif;
}

.body, html {
    overflow-x: hidden;
    width: 100vw;
}

/* Header */

.info-top {
    background-color: var(--blue);
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 5px;
    width: 97.5vw;
}

header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 40px;
}

.conteiner-img {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-direction: row;
}

.logo {
    width: 200px;
}

.icon {
    width: 40px;
    cursor: pointer;
}

.pesquisa {
    width: 90vw;
    height: 40px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
}

/* Main */

/* section oferta */

.oferta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray);
    text-align: center;
    text-transform: uppercase;
}

.oferta img {
    margin-left: -100px;
    width: 60vw;
    display: block;
}

.oferta h1 {
    font-size: 3em;
    font-family: var(--font-nunito);
    font-weight: 400;
}

.oferta p {
    font-weight: 600;
    line-height: 2;
    color: var(--blue);
}